.header {
  display: flex;
  padding: 16px 3px 16px 24px;
  align-items: center;
  gap: 32px;
}
.burger-menu {
  background: none;
  padding: 12px 10px;
  border-radius: 8px;
  border: 1px solid #8e5dbe;
  cursor: pointer;
}
.burger-menu:hover {
  background: rgba(255, 255, 255, 0.333);
}

.burger-line {
  height: 4px;
  display: block;
  width: 28px;
  background: #fff;
  margin-bottom: 3px;
  border-radius: 20px;
}
.burger-line:last-child {
  margin-bottom: 0;
}

.logo {
  margin: 0;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  font-variant: all-small-caps;
  letter-spacing: 0.56px;
}

.label-search {
  display: flex;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.2);
  width: 930px;
  padding: 10px 20px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
#search {
  background: none;
  border: none;
  width: 80%;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#search::placeholder {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border: none;
}
