.header {
  display: flex;
  padding: 16px 3px 16px 24px;
  align-items: center;
  gap: 32px;
}
.burger-menu {
  background: none;
  padding: 12px 10px;
  border-radius: 8px;
  border: 1px solid #8e5dbe;
  cursor: pointer;
}
.burger-menu:hover {
  background: rgba(255, 255, 255, 0.333);
}

.burger-line {
  height: 4px;
  display: block;
  width: 28px;
  background: #fff;
  margin-bottom: 3px;
  border-radius: 20px;
}
.burger-line:last-child {
  margin-bottom: 0;
}

.logo {
  margin: 0;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  font-variant: all-small-caps;
  letter-spacing: 0.56px;
}

.label-search {
  display: flex;
  gap: 8px;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.2);
  width: 900px;
  padding: 10px 20px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
#search {
  background: none;
  border: none;
  width: 98%;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#search::placeholder {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border: none;
}
.search-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 3px;
}

.search-button:hover {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}
.tabs-block {
  display: flex;
  padding-right: 0px;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
  align-self: stretch;
}
.tab-button {
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  background: none;
  border: none;
}

.tab-name {
  color: #fff;
  font-family: "Segoe UI";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.tab-icon {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

/* width: 28px;
height: 28px;
flex-shrink: 0;  */
